<div>
  <h1 class="naslov">Timely</h1>
  <div *ngIf="start==false; else stopScreen" class="center">
    <button class="btn" (click)="Startaj()"> Start </button>
  </div>
</div>

<ng-template #stopScreen>
  <div class="tableDiv">
    <button *ngIf="stopTimer; else stopBtn" class="btn" (click)="Startaj()"> Start </button>
    <ng-template #stopBtn> 
      <button class="btnStop" (click)="openDialog()">Stop</button>
    </ng-template>
    <table class="table table-striped">
      <thead>
        <tr class="red">
          <th>Project</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projekti">
          <td>{{p.projektIme}}</td>
          <td>{{p.projektStart}}</td>
          <td>{{p.projektStop}}</td>
          <td>{{p.projektTrajanje}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>








